:host {
  margin-top: -20px;
  display: block;
}

.text-center {
  text-align: center;
}

.list {
  margin-right: 75px;
  margin-left: 25px;
  margin-bottom: 20px;
  height: 460px;
  border: 1px solid #efefef;
  overflow-y: scroll;
}

ul {
  padding: 0;
}

.row {
  margin: 0;
}

.item {
  height: 70px;
  font-size: 25px;
  line-height: 70px;
  list-style-type: none;
}

.item.active {
  /* border-bottom: 1px solid #eee;
  border-top: 1px solid #eee; */
  background-color: white;
  color: black;
}

.item > * {
  overflow: hidden;
}
