<div class="row">
  <div class="col-xs-12 text-center iconfont icon-lightup"
    (click)="lightup()"
  ></div>
  <div class="col-xs-6 right-line" (click)="lightset(10)"></div>
  <div class="col-xs-6" (click)="lightset(10)"></div>
  <div class="col-xs-6 right-line" (click)="lightset(9)"></div>
  <div class="col-xs-6" (click)="lightset(9)"></div>
  <div class="col-xs-6 right-line" (click)="lightset(8)"></div>
  <div class="col-xs-6" (click)="lightset(8)"></div>
  <div class="col-xs-6 right-line" (click)="lightset(6)"></div>
  <div class="col-xs-6" (click)="lightset(6)"></div>
  <div class="col-xs-6 right-line" (click)="lightset(5)"></div>
  <div class="col-xs-6" (click)="lightset(5)"></div>
  <div class="col-xs-12 text-center iconfont icon-lightdown"
    (click)="lightdown()"
  ></div>
</div>
