<div class="row">
  <div class="yellow key col-xs-4 col-xs-offset-8 col-xs-pull-4"
  (click)="doKeyUp()" [ngClass]="{'iconfont icon-arrow-up': _keyUp}"
  ></div>
  <div class="yellow key col-xs-4"
  (click)="doKeyLeft()" [ngClass]="{'iconfont icon-arrow-left': _keyLeft}"
  ></div>
  <div class="yellow key col-xs-4"
  (click)="doKeyEnter()"
  >{{_keyEnter?'O':''}}</div>
  <div class="yellow key col-xs-4"
  (click)="doKeyRight()" [ngClass]="{'iconfont icon-arrow-right': _keyRight}"
  ></div>
  <div class="yellow key col-xs-4 col-xs-push-4"
  (click)="doKeyDown()" [ngClass]="{'iconfont icon-arrow-down': _keyDown}"
  ></div>
</div>
