/* .cur {
  padding-right: 50px;
  text-align: right;
  font-size: 150px;
}

.cur.weather {
  padding-top: 70px;
  font-size: 170px;
}

.cur.time {
  padding-top: 70px;
}

.cur.date {
  font-size: 120px;
} */

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.info {
  font-size: 35px;
}

.cur {
  font-size: 60px;
}
