<div class="row">
  <div class="col-xs-3 col-xs-offset-1 text-right">SSID</div>
  <div class="col-xs-7">{{selectItem.ssid}}</div>
</div>
<div class="row">
  <div class="col-xs-3 col-xs-offset-1 text-right">Password</div>
  <div class="col-xs-7 password bottom-border">{{words}}</div>
</div>
<app-keyboard (words)="getWords($event)"
  [actionBtnText]="'连接'" [actionBtnFn]="connect"
></app-keyboard>
<app-bottom-key class="abs bottom left border" [text]="'后退'"
  [doClick]="back"
></app-bottom-key>
<!-- <app-bottom-key class="right" [text]="'连接'"
  [doClick]="connect"
  *ngIf="words&&words.length>=8"
></app-bottom-key> -->
