<div *ngIf="powerStatus" [ngClass]="alphaClass">
  <app-wifilist [(selectItem)]="wifiContent" [list]="wifiList"
    (mode)="wiifChange($event)"
    *ngIf="wifiMode&&(!wifiContent||wifiContent.isConnected)"
  ></app-wifilist>
  <app-wifiset [(selectItem)]="wifiContent" (mode)="wiifChange($event)"
    *ngIf="wifiMode&&wifiContent&&!wifiContent.isConnected"
  ></app-wifiset>
  <app-weather [selectItem]="wifiContent" (mode)="wiifChange($event)"
    *ngIf="!wifiMode"
  ></app-weather>

  <app-lightbar class="abs bottom2 right" style="width:70px;"
    (lightclass)="lightchange($event)"
  ></app-lightbar>

  <app-bottom-key class="abs bottom right iconfont icon-close alpha-protect"
    (click)="close()"
  ></app-bottom-key>
</div>
<div *ngIf="!powerStatus" [ngClass]="alphaClass">
  <app-bottom-key class="abs bottom right iconfont icon-open alpha-protect"
    (click)="open()"
  ></app-bottom-key>
</div>
