/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  overflow: hidden;
}

.border {
  border: 1px solid #efefef;
}

.bottom-border {
  border-bottom: 1px solid #efefef;
}

.no-border {
  border-width: 0;
}

.abs {
  position: absolute;
  display: block;
}

.abs.top {
  top: 15px;
}

.abs.bottom {
  top: 715px;
}

.abs.bottom1 {
  top: 630px;
}

.abs.bottom2 {
  top: 545px;
}

.abs.left {
  left: 15px;
}

.abs.right {
  left: 515px;
}

.yellow {
  color: yellow;
}
.alpha-1 * {
  opacity: 0.42;
}
.alpha-2 * {
  opacity: 0.45;
}
.alpha-3 * {
  opacity: 0.5;
}
.alpha-4 * {
  opacity: 0.56;
}
.alpha-5 * {
  opacity: 0.63;
}
.alpha-6 * {
  opacity: 0.69;
}
.alpha-7 * {
  opacity: 0.76;
}
.alpha-8 * {
  opacity: 0.83;
}
.alpha-9 * {
  opacity: 0.9;
}
.alpha-10 * {
  opacity: 1.0;
}

.alpha-1 .alpha-protect, .alpha-2 .alpha-protect, .alpha-3 .alpha-protect, .alpha-4 .alpha-protect, .alpha-5 .alpha-protect, .alpha-1.alpha-protect, .alpha-2.alpha-protect, .alpha-3.alpha-protect, .alpha-4.alpha-protect, .alpha-5.alpha-protect, .alpha-1 .alpha-protect *, .alpha-2 .alpha-protect *, .alpha-3 .alpha-protect *, .alpha-4 .alpha-protect *, .alpha-5 .alpha-protect *, .alpha-1.alpha-protect *, .alpha-2.alpha-protect *, .alpha-3.alpha-protect *, .alpha-4.alpha-protect *, .alpha-5.alpha-protect * {
  opacity: 0.69;
}
